h1 Заголовок H1

.sidebar
  = image_tag 'anime_600x420.jpg'

.main
  .description
    | 三田キャンパスには、AV操作卓に教卓設置パソコン（などに収納）
      を備え、ネットワーク接続（カギ付き有線LANまたは常時接続）
      が可能な教室があります。教卓設置パソコンや個人所有パソコンを利用して、
      ネットワーク接続およびプロジェクタ投影が可能です。
      また、その他の教室でも個人所有パソコンや授業支援貸出パソコンを接続して、
      ネットワーク接続およびプロジェクタ投影が可能です。

  h2 Заголовок H2

  .description
    | 三田キャンパスには、AV操作卓に教卓設置パソコン（などに収納）
      を備え、ネットワーク接続（カギ付き有線LANまたは常時接続）
      が可能な教室があります。教卓設置パソコンや個人所有パソコンを利用して、
      ネットワーク接続およびプロジェクタ投影が可能です。
      また、その他の教室でも個人所有パソコンや授業支援貸出パソコンを接続して、
      ネットワーク接続およびプロジェクタ投影が可能です。
